* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background: rgba(244, 143, 177, 0.56);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: white;
  border-radius: 5px;
  width: 95vw;
  height: 100vh;
}

.logo {
  padding: 33px 0 0 37px;
}

.nav-img {
  width: 20px;
  height: 20px;
}

.nav-ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  height: 20px;
  padding-right: 25px;
}

.nav-ul > div > li > a {
  text-decoration: none;
  color: black;
  margin-right: 25px;
  font-weight: 500;
  padding: 3px;
}

.nav-li {
  display: flex;
}

.nav-img {
  width: 15px;
  height: 15px;
  padding-top: 2px;
  padding-right: 3px;
}

.left-side > h1 {
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
  max-width: 400px;
}

.main-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 60px;
}

.Pink {
  display: inline-block;
  color: #f06292;
}

.after-Pink {
  display: inline-block;
}

p {
  max-width: 450px;
  margin-top: 26px;
  margin-bottom: 33px;
}

.img-right {
  margin-bottom: 30px;
  margin-top: -28px;
}

form {
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
  width: 335px;
}

fieldset {
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 5px;
}

legend {
  font-size: 13px;
}

input {
  width: 80%;
  border: none;
  padding-left: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

input:focus {
  outline: none;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.right-side > div {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 920px) {
  .nav-ul {
    width: 450px;
    font-size: 13px;
    margin-top: 20px;
    margin-left: 20px;
  }
  body {
    background-color: white;
  }

  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .left-side {
    width: 80vw;
  }
  .person {
    width: 400px;
  }

  .right-side {
    margin-top: 90px;
  }
}
